body {
  margin: 0;
  padding: 0;
}

.res-container {
  display: flex;
}

.cards {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;
}

.mapContainer {
  flex-grow: 0;
  height: 100vh;
  width: 30vw;
  top: 0;
  position: sticky;
}

.pin {
  width: 30px;
  height: 30px;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

@media (max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .mapContainer {
    flex-grow: 1;
  }
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 575px) {
  .res-container {
    flex-direction: column;
  }

  .mapContainer {
    flex-grow: 0;
    width: 90vw;
    padding-left: 15px;
    padding-right: 35px;
    /* margin: 0 20px; */
    margin: 0 auto;
  }
}
